[submodule "Segment-Anything-CLIP"]
	path = Segment-Anything-CLIP
	url = https://github.com/jul1u5/Segment-Anything-CLIP.git
[submodule "MobileSAM"]
	path = MobileSAM
	url = git@github.com:ChaoningZhang/MobileSAM.git
